.Home{
    height: 528px;
    text-align: center;
    border: 1px solid #ddd;
    margin: 50px;
    padding: 50px;
}
.Home a{
    text-decoration: underline;
}
.Home button{
    margin-top: 20px;
    cursor: pointer;
}
img{
	display: block;
	width: 50px;
	margin: 0 auto;
}